*{
  font-family: 'Playfair Display', serif;
}

li{
  cursor:pointer;
}
li:hover,
li:active{
  color: #E7A0AE;
}

/* Navbar */

.transitionResNav{
  transition: all 0.3s ease-in;
}
 /* HeroCarousel.css */
.hero-carousel {
  position: relative;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.image {
  opacity: 0;
  transition: opacity 1s ease;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 1s ease;
  animation: slideInFromLeft 1s ease forwards;
}

.text-overlay {
  position: absolute;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  opacity: 1;
  transition: opacity 1s ease;
}

.slide-in-from-right {
  transform: translateX(100%);
  opacity: 0;
  animation: slideInFromRight 2s ease forwards;
}

@keyframes slideInFromRight {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
} 





/* SECTION_2 */


