*{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li{
  cursor:pointer;
}
li:hover{
  color: #E7A0AE;
}
.active .nav-link{
  color: #E7A0AE;
 position: relative;
}
.active .nav-link::after {
  content: '';
  position: absolute;
  bottom: -15px; /* Adjust the distance of the underline from the text */
  left: -10px;
  width: 135%;
  height: 4px; /* Adjust the thickness of the underline */
  background-color: #E7A0AE; /* Pink color for underline */
}

/* Navbar */

.transitionResNav{
  transition: all 0.3s ease-in;
}
 /* HeroCarousel.css */
.hero-carousel {
  position: relative;
  overflow: hidden;
  
 
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}
.image {
  opacity: 0;
  transition: opacity 1s ease;
  object-fit: cover;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 1;
  transition: opacity 1s ease;
  animation: slideInFromRight 2s ease forwards;
}

.text-overlay {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: #fff;
  text-align: center;
  opacity: 1;
  transition: opacity 2s ease;
  
}

.slide-in-from-right {
  transform: translateX(100%);
  opacity: 0;
  animation: slideInFromLeft 2s ease forwards;
}

@keyframes slideInFromBelow {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromAbove {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
} 
@keyframes slideInFromRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
} 
@keyframes slideInFromLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
} 
.banner-sec>img{
  opacity: .8;
}
@media (min-width: 214px) and (max-width: 299px) {
  /* Styles for screens between 240px and 439px */
  .banner-sec>img{
/* height: 8rem; */
  }
  .banner-datail>h1{
   font-size: 1.75rem;
  }
  .option-image{
    width:3rem;
  }
  .main-image{
    width:10rem;
  }
}
@media (min-width: 300px) and (max-width: 439px) {
  /* Styles for screens between 240px and 439px */
  .banner-sec>img{
    /* height: 20rem; */
  }
  .banner-datail>h1{
   font-size: 1.75rem;
  }
  .option-image{
    width:5rem;
  }
  .main-image{
    width:17rem;
  }
}

@media (min-width: 440px) and (max-width: 639px) {
  /* Styles for screens between 440px and 639px */
  .banner-sec>img{
    /* height: 21rem; */
  }
  .banner-datail>h1{
    font-size: 2.25rem;
   }
   .option-image{
    width:5rem;
  }
  .main-image{
    width:21rem;
  }
} 

.classify-produds::-webkit-scrollbar {
  width: 0;
}


/*Shop page */
/* .item-list {
  max-height: 200px;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.item-list.show {
  max-height: 500px; 
  transition: max-height 0.5s ease-in;
} */


.activepage {
  color :rgb(21, 21, 21);
   border-color:rgb(240, 239, 239);
   border-radius:1.5rem;
    padding: .25rem 1rem;
   background-color: rgb(240, 239, 239);
 
}
/* 
PRODUCT PAGE */
.image-section .active{
  border: 2px solid black;
}
.more-info .active-sec{
 color: #000;
}