*{
  font-family: 'Playfair Display', serif;
}
/* ImageCarousel.css */
/* .animated-slide-in-right {
  opacity: 0;
  animation: slideInRight 1s ease forwards;
}

.animated-slide-in-left {
  opacity: 0;
  animation: slideInLeft 1s ease forwards;
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
 */

 /* HeroCarousel.css */
.hero-carousel {
  position: relative;
}



.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  
}

.image {
  /* Add any initial styles for your images */
  opacity: 0;
  transition: opacity 1s ease;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 1s ease;
  animation: slideInFromLeft 1s ease forwards;
}

.text-overlay {
  position: absolute;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  opacity: 1;
  transition: opacity 1s ease;
}

/* .text-overlay p,
.text-overlay h1,
.text-overlay button {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 1s ease, transform 1s ease;
}

.image-container.active {
  opacity: 1;
  visibility: visible;
}

.image-container.active .text-overlay p,
.image-container.active .text-overlay h1,
.image-container.active .text-overlay button {
  opacity: 1;
  transform: translateX(0);
}  */

.slide-in-from-right {
  transform: translateX(100%);
  opacity: 0;
  animation: slideInFromRight 2s ease forwards;
}

@keyframes slideInFromRight {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* .animated-slide-in-left {
  opacity: 0;
  animation: slideInLeft 1s ease forwards;
}
*/
@keyframes slideInFromLeft {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
} 


